<!DOCTYPE html>
<html lang="es" ng-app="sucuApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script src="sources/angular.min.js"></script>
	<link rel="stylesheet" href="main.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
	<script src="sources/main.js"></script>
	<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
	<script src="sources/ngclipboard.min.js"></script>
	<script src="sources/angular-route.min.js"></script>
	<script src="sources/jquery.min.js"></script>
	<script src="sources/animatescroll.min.js"></script>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<title>SucuSearch</title>
</head>
<body>

	<div class="navbar-fixed">
	    <nav style="background-color: #2980b9 ">
	      <div class="nav-wrapper">
	        <a href="#!" class="brand-logo hide-on-med-and-down"><img src="img/bind-logo.png" alt="" style="margin-left: .5rem; margin-top: -10px"></a>

	        <ul class="right">
	          <li><a href="index.html" style="background-color:rgba(200,200,200,0.4")>Buscar Sucursales</a></li>
	          <li><a href="motivos.html">Códigos de Rechazos</a></li>
	          <li><a href="bancos.html">Buscar Bancos</a></li>
	        </ul>
	        
	      </div>
	    </nav>
	  </div>
	
<!-- 	<a href="index.html"><div class="botonCambioSuc"><p class="botonCambioTexto">Buscar Sucus</p></div></a>
	<a href="motivos.html"><div class="botonCambioRech"><p class="botonCambioTexto">Buscar Recha</p></div></a>
	<a href="bancos.html"><div class="botonCambioBco"><p class="botonCambioTexto">Buscar Bancos</p></div></a>
	<div class="volverArriba">^</div> -->

	<div ng-controller="datosSucus" class="back" id="top">

		<div class="container">
				<input type="text" ng-model="buscarDato" placeholder="Ingrese nombre de sucursal o apellido del personal del banco" class="buscador" tabindex="1" style="font-size:1.2rem">
		</div>
				<ul>	
					<li class="tabRecha" ng-repeat="dato in datos | filter:buscarDato">
						<h2 class="nombreSuc">{{ dato.sucursal }}</h2>
						<p class="left-align" style="padding-left: 1rem"><span class="subrayado">{{ dato.nombre }}</span>  ocupa el puesto de {{ dato.puesto }}</p>
						<p class="left-align" style="padding-left: 1rem"><span class="subrayado">Teléfono:</span> {{ dato.interno }}</p>
						<p id="correo" class="left-align" style="padding-left: 1rem">{{dato.email}}</p>
						<button style="background-color: #2980b9" class="btn" ngclipboard data-clipboard-target="#correo">Copiar email</button>
					</li>
				</ul>
	</div>

			<script>
				$('.volverArriba').click(function(){
					$('#top').animatescroll();
				});
			</script>
		
	




</body>
</html>